.labelAufgabe {
	display: flex;
	flex-direction: column;
}

.inputAufgabe {
	width: 250px;
	height: 100px;
	padding: 4px;
}

.elementsAufgabe {
	padding: 4px;
}

.deleteButtonAufgabe {
	background-color: red;
	border: 2px solid red;
	border-radius: 4px;
	color: black;
	cursor: pointer;
}
